.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/fornaxAcontHI.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 851px;
}

.u-section-1 .u-image-1 {
  height: 200px;
  width: 983px;
  margin: 160px auto 0;
}

.u-section-1 .u-text-1 {
  margin: -39px 72px 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-1 .u-image-1 {
    height: 191px;
    width: 940px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -30px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 648px;
  }

  .u-section-1 .u-image-1 {
    height: 146px;
    margin-top: 183px;
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 612px;
  }

  .u-section-1 .u-image-1 {
    height: 110px;
    margin-top: 208px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-1 .u-image-1 {
    height: 69px;
    margin-top: 308px;
    width: 340px;
  }
} 