.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 465px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 622px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 505px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 798px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 584px;
  }
}