.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 190px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  background-image: none;
  text-transform: none;
  width: 338px;
  margin: 59px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0;
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }
} 